body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    }

header {
    background: #f4f4f4;
    padding: 1rem;
    position: relative;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.2rem; /* Adjust the font size of the subheading to your preference */
}


nav {
    background: #333;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.external-link-info {
    font-size: 0.8em; /* Adjust the font size to your preference */
    color: #777; /* Adjust the color to your preference */
    padding-left: 0.5em; /* Add some space between the link and the description */
}

.logo {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    width: 10px; /* Adjust the width to your preference */
    height: auto;
}