body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    }

header {
    background: #f4f4f4;
    padding: 1rem 1rem 0 1rem; /* Adjust the padding to your preference */
    position: relative;
}

h1, h2 {
    text-align: center;
    margin-right: 0; /* Remove the right margin */
}

h2 {
    font-size: 1.2rem; /* Adjust the font size of the subheading to your preference */
    text-align: center;
    margin-bottom: 0; /* Remove the bottom margin to make the heading flush nav bar */
}


nav {
    background: #333;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem; /* Adjust the padding to your preference */
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.external-link-info {
    font-size: 0.8em; /* Adjust the font size to your preference */
    color: #777; /* Adjust the color to your preference */
    padding-left: 0.5em; /* Add some space between the link and the description */
}

.logo {
    position: absolute;
    top: 0;
    right: 1rem;
    height: calc(100%); /* Calculate the height to fill the empty space */
    width: auto; /* Set the width to auto to maintain the aspect ratio */
}
